/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v18-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
        url('../fonts/roboto-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/roboto-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('../fonts/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background: #1f8dd6;
    line-height: 1.5em;
    color: #7f8c8d;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #34495e;
}
a{
    text-decoration: none;
    color: #1f8dd6;
}
h3 {
    margin-bottom: 0px;
    padding-bottom: 4px;
    font-weight: normal;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.l-box {
    padding: 1em;
}

.l-box-lrg {
    padding: 2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.is-center {
    text-align: center;
}

.pure-form label {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.pure-form input[type] {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
}

.pure-button-big {
    display: block;
    padding: 1.5em 2em;
    color: rgb(31, 141, 214);
    font-size: 120%;
    background: white;
    border-radius: 5px;
    margin: auto;

}

.home-menu {
    padding: 0.5em;
    text-align: right;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
    background: #2d3e50;
}

.home-menu .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
}

.pure-menu-heading img {
    height: 36px;
    vertical-align: middle;
    padding-bottom: 6px;
}

.pure-menu-heading a {
    color: #fff;
}

.content-wrapper {
    width: 100%;
    background: white;
}

.content {
    padding: 1em 1em 3em;
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.content-head {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 2em 0 1em;
}

.content-head-ribbon {
    color: white;
}

.content-subhead {
    color: #1f8dd6;
}
.content-subhead i {
    margin-right: 7px;
}

.ribbon {
    background: #2d3e50;
    color: #aaa;
}

.footer {

    width: 100%;
    margin-top: 28px;
    margin-bottom: 28px;
    text-align: center;
}

.footer, .footer a {
    font-size: 12px;
    color: rgba(255,255,255,.6);
    text-shadow: 0px 1px 0px rgba(0,0,0,.2);
}

.splash, .buyDiv {
    width: 90%;
    margin: auto;
}

.splash-container {
    background: #1f8dd6;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 30px;
}

.splash-head {
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
}

.splash-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

.logout-element {
    display: none;
}

.frameInfo {
    background: #ffffff;
    margin: 1em 0;
    padding: 1em 1em;
    border-radius: 3px;
    color: #000;
    box-shadow: 1px 1px 3px;
}

.notice {
    background: #eeeeee;
    margin: 1em 0;
    padding: 1em 1em;
    border-radius: 3px;
    color: #000;
    font-size: 12px;
}

.info {
    background: #eeeeff;
    margin: 1em 0;
    padding: 1em 1em;
    border-radius: 3px;
    color: #000;
    font-size: 12px;
}

.danger {
    background: #ffeeee;
    margin: 1em 0;
    padding: 1em 1em;
    border-radius: 3px;
    color: #000;
    font-size: 12px;
}

.success {
    background: #eeffee;
    margin: 1em 0;
    padding: 1em 1em;
    border-radius: 3px;
    color: #000;
    font-size: 12px;
}
.whitening, .whitening h2 {
    color: #fff;
}
.whitening h2 {
    font-size: 18px;
    font-weight: normal;
}
.saveDiv {
    font-size: 12px;
}

.saveDiv a {
    text-decoration: none;
    color: brown;
}

.headDiv{
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #eee;
    margin-bottom: 6px;
}

.spinner {
    margin: auto;
    height: 64px;
    width: 64px;
    animation: rotate 1s infinite linear;
    border: 8px solid #fff;
    border-right-color: transparent;
    border-radius: 50%;
}
.spinnerlabel{
    display: block;
    text-align: center;
    margin-top: 24px;
}

.transactions a {
    text-decoration: none;
    color: #1f8dd6;
}

#d12keys {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    background: #fff;
    padding: 12px;
    color: #000;
}
#tokenBalanceDiv{
    margin-top: 32px;
}
.tokenBalance {
    font-size: 36px;
}
.ethBalance {
    font-size: 20px;
}
#ethAddress{
    font-size: 11px;
}
#ethAddressDiv {
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
    padding: .5em .6em;
    display: inline-block;
}

#resultDiv {
    text-align: center;
    margin-top: 12px;
}

#registerSection{
    width: 90%;
    margin: auto;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10%;
}

#sendBox {
    display: none;
}

@media (min-width: 48em) {

    body {
        font-size: 16px;
    }

    .splash-head {
        font-size: 250%;
    }

    .l-box-lrg {
        border: none;
    }

    #splash-container {
        width: 60%;
    }
}

@media (min-width: 78em) {
    .splash-head {
        font-size: 300%;
    }
}

@keyframes rotate {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
}

.form-control {
    padding: 6px;
    margin-bottom: 12px;
    width: 100%;
    border: 2px solid #ddd;
    box-shadow: none;
    font-size: 100%;
    width: 100%;
    margin-bottom: 1em;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
    padding: .5em .6em;
    display: inline-block;
}
#headWall, #ethAddressDiv, #addrQR {
    cursor: pointer;
}

#offlineInfo{
    background: #BCC3C7;
    margin: 1em 0;
    padding: 1em 1em;
    border-radius: 3px;
    color: red;
    display: none;
}

#onlineMel {
    color: greenyellow;
}